.large-hero {
    color: purple;
    position: relative;

    &__text-content{
        position: absolute;
        /* top: 0; */
        left: 0;

        /* center the text horizontaly */
        width: 100%;
        text-align: center;

        /* center the text vertically */
        top: 50%;
        transform: translateY(-50%);
    }

    &__title{
        font-weight: 300;
        color: #2f5572;
        font-size: 4.8rem;
        /* eliminate the margin with the tittle and the subtitle */
        margin: 0;
    }

    &__subtitle{
        font-weight: 300;
        color: #2f5572;
        font-size: 2.9rem;
        margin: 0;
    }

    &__description{
        color: #FFF;
        font-size: 1.875rem;
        font-weight: 100;
        /* Adding a shadow to the text */
        text-shadow: 2px 2px 0 rgba(0,0,0,.1);
        /* Dividing the text in two lines */ 
        /* 1.- meshure the hitbox of the text -> width: 480px converting to rem would be 30 rem*/
        /* 2.- adding the right margin */
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
}
/* following BEM we can be more organized */
/* .large-hero__text-content{ */
/*     position: absolute; */
/*     /1* top: 0; *1/ */
/*     left: 0; */

/*     /1* center the text horizontaly *1/ */
/*     width: 100%; */
/*     text-align: center; */

/*     /1* center the text vertically *1/ */
/*     top: 50%; */
/*     transform: translateY(-50%); */
/* } */

/* .large-hero__title{ */
/*     font-weight: 300; */
/*     color: #2f5572; */
/*     font-size: 4.8rem; */
/* } */

/* .large-hero__subtitle{ */
/*     font-weight: 300; */
/*     color: #2f5572; */
/*     font-size: 2.9rem; */
/* } */
